/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

header {
  align-items: center;
  color: white;
}

header > h2 {
  margin-right: auto;
  margin-left: 30px;
}

li {
  margin: 0 10px 0;
}

 i {
 }

.navbar-brand {
  color: white;
}

footer > h6 {
  margin: auto;
  padding: auto;
  text-align: center;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

h2 {
argin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.img {
vertical-align: middle;
    border-style: none;
    }

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.new-book-body {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.btn-block {
  width: 100%;
  border-color: #6c757d;
}

